html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

// ###################### Start of PRESETS
.container {
  width: 100%;
  display: block;
  margin: auto;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
// ###################### End of PRESETS

// ###################### Start of First Section
section.nav-to-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(section1_bg_1.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
header {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
header.navigation-links {
  padding: 8px 0 0 0;
}
header.navigation-links a{
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 6px 2px;
  color: #fff;
}
.header-container .muni-logo {
  margin-left: 80px;
}
.muni-logo img {
  width: 230px;
  cursor: pointer;
}
.header-container {
  display: flex;
}
.header-menu {
  position: relative;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  margin-left: 10px;
}
nav.nav-links {
  display: block;
}
nav.nav-links ul {
  display: flex;
  list-style: none;
}
.displaying-none {
  display: none;
}
nav.nav-links ul.link-lists li {
  padding-right: 10px;
}
div.signers {
  display: flex;
  margin-right: 60px;
}
div.signers a:nth-of-type(1) {
  margin-right: 20px;
}
div.signers a:nth-of-type(2) {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .55);
}
header.navigation-links a:hover {
  transition: color .5s ease;
  color: rgba(255, 255, 255, .5);
}
// ###################### End of First Section

// ############################################
// #################### Start of Mobile Responsive
@media screen and(max-width: 990px) {
  header.navigation-links .muni-logo {
    margin-left: 30px;
  }
  header.navigation-links .muni-logo img {
    width: 160px;
  }
  header.navigation-links div.header-container div.mobile-signers {
    display: block;
    position: absolute;
    transform: translateY(10px);
    right: 0;
    padding-right: 15px;
  }
  header.navigation-links .header-container .mobile-signers a{
    padding-left: 10px;
  }
  header.navigation-links .mobile-signers a {
    font-size: 1rem;
  }
  header.navigation-links ul.link-lists li a.closing-button {
    text-align: right;
  }
  header.navigation-links div.mobile-signers a:nth-of-type(1){
    border: 1px solid rgba(255, 255, 255, .5);
  }
  header.navigation-links div.header-menu {
    position: fixed;
    transition: all .5s ease;
    width: 230px;
    top: 0;
    right: -230px;
    background-color: #fff;
    display: block;
    flex: none;
    z-index: 10;
  }header.navigation-links div.signers{
    margin: 0;
  }
  header.navigation-links nav.nav-links ul,
  header.navigation-links div.signers {
    display: block;
  }
  header.navigation-links div.header-container div.header-menu a {
    line-height: 45px;
    display: inline-block;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 1rem;
    color: #000;
  }
  header.navigation-links.mobile .header-container .header-menu {
    transition: all .5s ease;
    right: 0;
  }
  @media screen and(max-width: 690px) {
    section.nav-to-body {
      position: relative;
      width: 100%;
      height: 100vh;
      background: url(section1_bg_1_change.jpg) no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}
// #################### End of Mobile Responsive
// ############################################