html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

section.nav-to-body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Home_Page_Section1_BG.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

header.navigation-links {
  padding: 8px 0 8px 0;
}

header.navigation-links a {
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 6px 2px;
  color: #fff;
}

.header-container .muni-logo {
  margin-left: 80px;
}

.muni-logo img {
  width: 230px;
  cursor: pointer;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  margin-left: 10px;
}

nav.nav-links {
  display: block;
}

nav.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.displaying-none {
  display: none;
}

nav.nav-links ul.link-lists li {
  padding-right: 10px;
}

div.signers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

div.signers a:nth-of-type(1) {
  margin-right: 20px;
}

div.signers a:nth-of-type(2) {
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.55);
          box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.55);
}

header.navigation-links a:hover {
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  color: rgba(255, 255, 255, 0.5);
}

section.second-section {
  height: 100vh;
  background-color: #fffefe;
  padding-top: 10px;
  background: url(Home_Page_Section2_BG.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.flex-padding {
  padding: 15px 30px 0 30px;
}

.goal-container {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  background-color: #fff;
}

#mission-vision {
  text-transform: uppercase;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.goal-container .scholarship-goal p {
  margin: 0;
  margin-top: 5px;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.second-section .carousel-container {
  margin: 10px;
  border: 5px solid white;
  position: relative;
  height: 420px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 48, 2, 0.7);
          box-shadow: 0 0 20px 2px rgba(0, 48, 2, 0.7);
}

.second-section .carousel-slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-section .carousel-slide img {
  width: inherit;
  height: inherit;
}

#prevbtn, #nextbtn {
  position: absolute;
  color: rgba(184, 184, 184, 0.5);
  top: 50%;
  z-index: 11;
  font-size: 2.2rem;
  cursor: pointer;
}

.arrow-left {
  left: -10px;
  opacity: 0;
}

.arrow-right {
  right: -10px;
  opacity: 0;
}

.carousel-container:hover .arrow-left {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: .8;
  left: 20px;
}

.carousel-container:hover .arrow-right {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: .8;
  right: 20px;
}

.from-banner {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 70%;
}

.from-banner h1.welcome {
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 1px black;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  margin: 0;
  margin-top: 20px;
}

.pump {
  display: inline-block;
  -webkit-animation-name: pump-sign;
          animation-name: pump-sign;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@-webkit-keyframes pump-sign {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes pump-sign {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

footer.index-footsy {
  background-color: white;
}

footer.index-footsy * {
  font-family: 'JetBrains Mono', monospace;
  color: #000;
}

footer .first-footer-col h2 {
  margin: 0;
  margin-top: 40px;
}

footer a {
  text-decoration: none;
}

.about-page-change-bg {
  background: url(HomePage_Section1_BG_plain.jpg) no-repeat !important;
}

.about-us-banner {
  width: 100%;
}

.about-us-banner h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 10px;
}

.about-page-row {
  padding-left: 50px;
}

.about-story {
  margin-left: 50px;
}

.about-story * {
  color: white;
}

.about-image {
  padding-left: 50px;
}

.about-image img {
  width: 100%;
  position: relative;
  border-radius: 13px;
  -webkit-box-shadow: 5px 2px 10px 2px rgba(255, 255, 255, 0.3);
          box-shadow: 5px 2px 10px 2px rgba(255, 255, 255, 0.3);
}

.contact-page-change-bg {
  background: url(HomePage_Section1_BG_plain.jpg) no-repeat !important;
}

div.contact-us-banner {
  width: 100%;
}

.contact-us-banner h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 10px;
}

form.message-us-container {
  border: 1px solid black;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 20px;
}

form.message-us-container h2 {
  margin-left: 20px;
  color: #fff;
}

.message-us-container div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-us-container div input {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  width: 40%;
  padding: 12px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.sender-message-container textarea {
  resize: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  width: 100%;
  padding: 12px;
}

.contact-submit-button-container button {
  border-radius: 13px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.our-info-container {
  border: 1px solid black;
  padding-left: 20px;
}

.our-info-container * {
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
}

.our-info-container h2 {
  margin: 10px 0;
  text-align: center;
}

.our-info-container h3 {
  margin: 10px 0px;
}

.contact-opacity {
  opacity: .8;
}

.signup-page-section1 {
  background: url(HomePage_Section1_BG_plain.jpg) no-repeat !important;
}

.signup-container {
  width: 40%;
  margin: auto;
  margin-top: 70px;
  padding: 30px 10px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.2);
}

.signup-container ul.signup-fill-forms li {
  list-style: none;
}

.signup-container label {
  display: block;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.6);
}

.signup-container ul.signup-fill-forms li input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 13px;
  font-size: 1.1rem;
}

.signup-container form button[type="submit"] {
  width: 90%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 1.3rem;
}

.signin-container {
  width: 30%;
  margin: auto;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  padding: 30px 10px;
}

.signin-container ul.signin-fill-forms li {
  list-style: none;
}

.signin-container label {
  display: block;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.6);
}

.signin-container ul.signin-fill-forms li input {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 13px;
  font-size: 1.1rem;
}

.signin-container form button[type="submit"] {
  width: 90%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 1.3rem;
}

@media screen and (max-width: 1080px) {
  header.navigation-links .muni-logo {
    margin-left: 30px;
  }
  header.navigation-links .muni-logo img {
    width: 160px;
  }
  header.navigation-links div.header-container div.mobile-signers {
    display: block;
    position: absolute;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    right: 0;
    padding-right: 15px;
  }
  header.navigation-links .header-container .mobile-signers a {
    padding-left: 10px;
  }
  header.navigation-links .mobile-signers a {
    font-size: 1rem;
  }
  header.navigation-links ul.link-lists li a.closing-button {
    text-align: right;
  }
  header.navigation-links div.mobile-signers a:nth-of-type(1) {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  header.navigation-links div.header-menu {
    position: fixed;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: 230px;
    top: 0;
    right: -230px;
    background-color: #fff;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    z-index: 10;
  }
  header.navigation-links div.signers {
    margin: 0;
  }
  header.navigation-links nav.nav-links ul,
  header.navigation-links div.signers {
    display: block;
  }
  header.navigation-links div.header-container div.header-menu a {
    line-height: 55px;
    display: inline-block;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #000;
  }
  header.navigation-links.mobile .header-container .header-menu {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    right: 0;
  }
  .scholarship-goal p {
    font-size: 1rem !important;
  }
  #mission-vision {
    font-size: 2rem;
  }
  .carousel-container {
    height: 360px !important;
  }
  .from-banner {
    width: 100%;
    bottom: 0;
    position: relative;
  }
  .from-banner h1.welcome {
    font-size: 3rem;
  }
  .about-page-change-bg {
    background: url(HomePage_Section1_BG_plain.jpg) no-repeat !important;
    height: auto !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  .about-us-banner h1 {
    font-size: 4rem;
  }
  .about-story {
    margin-left: 25px;
  }
  .about-image {
    width: 50%;
  }
  .contact-page-change-bg {
    background: url(HomePage_Section1_BG_plain.jpg) no-repeat !important;
    height: auto !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
  }
  .contact-us-banner h1 {
    font-size: 3.5rem;
  }
  .our-info-container {
    width: 30%;
  }
}

@media screen and (max-width: 1080px) and (max-width: 780px) {
  #mission-vision {
    font-size: 1.2rem;
  }
  .goal-container {
    width: 35%;
  }
  .goal-container .scholarship-goal p {
    font-size: .9rem !important;
  }
  .carousel-container {
    width: 50%;
    height: 300px !important;
  }
  .from-banner h1.welcome {
    font-size: 2.5rem;
  }
  .mobile-stack {
    width: 50%;
  }
  footer h2 {
    font-size: 1rem;
  }
  .about-page-row {
    padding: 0;
  }
  .about-story {
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .about-image {
    padding: 0;
    width: 80%;
    margin: auto;
  }
  .message-us-container,
  .our-info-container {
    margin: auto !important;
    width: 90%;
  }
  form.message-us-container input {
    width: 100%;
  }
  .our-info-container {
    text-align: center;
  }
  .signup-container {
    margin-top: 10%;
    width: 70%;
  }
  .signup-container .row label {
    font-size: .9rem;
  }
  .signin-container {
    margin-top: 10%;
    width: 70%;
  }
  .signin-container form label {
    font-size: .9rem;
  }
}

@media screen and (max-width: 1080px) and (max-width: 780px) and (max-width: 690px) {
  section.nav-to-body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(Home_Page_Section1_BG_change.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  section.second-section {
    height: 100vh;
    background-color: #fffefe;
    padding-top: 10px;
    background: url(Home_Page_Section2_BG_change.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .goal-container {
    width: 100%;
  }
  .goal-container .scholarship-goal p {
    font-size: .8rem !important;
  }
  .carousel-container {
    width: 100%;
    height: 220px !important;
  }
  .arrow-left {
    left: 20px;
    opacity: .8;
  }
  .arrow-right {
    right: 20px;
    opacity: .8;
  }
  .from-banner h1 {
    font-size: 2rem !important;
  }
  .about-page-container p {
    font-size: .9rem;
    text-align: justify;
  }
}
/*# sourceMappingURL=style.css.map */